{% extends 'base.html.twig' %}

{% block title %}Gallery{% endblock %}

{% block body %}
    <style>
        #templateContainer {
            margin-left: 10%;
            margin-right: 10%;
            background: #191b1f;
            border-radius: 25px;
            padding: 1.5rem;
            box-shadow: 4px 4px 8px var(--shadowDark), -4px -4px 8px var(--shadowLight);
            color: deepskyblue;
        }

        .card {
            margin-left: 5%;
            margin-right: 5%;
            background: #191b1f;
            border-radius: 25px;
            padding: 1rem;
            box-shadow: 4px 4px 8px var(--shadowDark), -4px -4px 8px var(--shadowLight);
            color: deepskyblue;
        }

        #addMemeTemplate {
            margin-left: 37%;
            width: 25%;
            margin-bottom: 1%;
        }
    </style>
    <br>
    <h1 style="text-align: center" class="title">User - {{ memes[0].creator.nickname }} - Gallery</h1>
    <br>
    <div id="templateContainer">
        <div class="columns is-multiline">
            {% for mem in memes %}
                <div class="column is-one-quarter">
                    <div class="card" id="card" style="background: #191b1f;">
                        <div class="card-image">
                            <figure class="image is-4by3">
                                <img src="{{ asset('/images/mems/') }}{{ mem.mem }}" alt="Placeholder image">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="content">
                                <section>
                                    <div class="media-left">
                                        Created by user: <a class="getUploaderProfile"
                                                            onclick="getUploaderProfile(event, {{ mem.creator.id }})">{{ mem.creator.nickname }}</a>
                                        <form class="fooForm{{ mem.creator.id }}" method="POST"
                                              action="{{ path('app_user_profile', {'id': mem.creator.id}) }}"
                                              style="display:none">
                                            <input name="id" type="hidden" value="{{ mem.creator.id }}">
                                        </form>
                                        <script>
                                            function getUploaderProfile(event, id) {
                                                let postFormId = '.fooForm' + id;
                                                $(postFormId).submit();
                                            }
                                        </script>
                                    </div>
                                </section>
                                <div class="media-content">
                                    <br>
                                    Template title: {{ mem.name }}
                                </div>
                                Description:
                                {{ mem.description }}
                                <br>
                                Created at:
                                <time datetime="2016-1-1">{{ mem.updatedAt|date('d-m-Y') }}</time>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}